@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFF;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 23px 74px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.header__logo {
  display: none;
}

.header__logo_active {
  display: block;
}

.header__main {
  background: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__container {
  margin: 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu_color {
  color: #000;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block:last-of-type li:last-of-type {
  height: 50px;
}

.header__block:last-of-type {
  gap: 27px;
}

.header__submenu {
  background-color: white;
  display: none;
  position: absolute;
  padding: 10px 26px;
  font-weight: 300;
}

.header__submenu::before {
  content: "";
  display: block;
  background: #E2AF1F;
  width: 105px;
  height: 1px;
  margin-bottom: 10px;
}

.header__submenu li {
  margin-bottom: 20px;
}

.header__submenu li:last-of-type {
  margin-bottom: 0;
}

.header__submenu:hover {
  display: block;
}

.header__item:hover + .header__submenu {
  display: block;
}

.header__submenu li:hover {
  color: #E2AF1F;
  text-decoration: underline;
}

.header__item {
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: block;
}

.header__item_black {
  color: #000;
}

.header__item:hover {
  color: #E2AF1F;
}

.header__item:hover #ic-ecommerce-basket path,
.header__item:hover #ic-ecommerce-basket line {
  stroke: #E2AF1F;
  fill: #E2AF1F;
}

.header__item:hover #ic-social-youtube path,
.header__item:hover #ic-social-youtube line {
  stroke: #E2AF1F;
}

.header__item:hover #ic-social-facebook path,
.header__item:hover #ic-social-facebook line,
.header__item:hover #ic-social-facebook rect {
  stroke: #E2AF1F;
}

.header__item:hover #ic-social-instagram rect,
.header__item:hover #ic-social-instagram ellipse {
  stroke: #E2AF1F;
}

.active {
  display: none;
}

.page__main .header__submenu {
  background-color: unset;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #00005c;
  border: 1px solid #707070;
  width: 100%;
  padding: 60px 150px 60px 150px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}

.footer__wrapper h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer__logo {
  background: url("../img/footerlogo.png") no-repeat;
  width: 349px;
  height: 56px;
  margin: 0 auto;
}

.footer__content {
  text-align: left;
  width: 100%;
  height: 100%;
}

.footer__information {
  text-align: center;
  width: 100%;
  height: 100%;
}

.footer__legal {
  text-align: right;
  width: 100%;
  height: 100%;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  gap: 60px;
}

.footer__item:hover #ic-social-instagram rect,
.footer__item:hover #ic-social-instagram circle,
.footer__item:hover #ic-social-facebook rect,
.footer__item:hover #ic-social-facebook path,
.footer__item:hover #ic-social-facebook line,
.footer__item:hover #ic-social-youtube path,
.footer__item:hover #ic-social-youtube path {
  stroke: #E2AF1F;
}

.footer__item:hover #ic-social-instagram circle:last-of-type {
  fill: #E2AF1F;
}

.wrapper__item {
  background: url("../img/welcome.png") no-repeat center center;
  width: 100%;
  min-height: 1080px;
  background-size: cover;
}

.header__item_black {
  color: unset;
}

.welcome {
  margin-top: 250px;
}

.welcome-img__item {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.welcome-block__img {
  margin: 0 auto 73.5px;
  display: block;
  width: 56%;
}

.welcome-block__desc {
  text-transform: uppercase;
  text-align: center;
}

.welcome-block__desc h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.welcome-block__desc h1 {
  font-size: 76px;
  font-weight: 700;
  line-height: 101px;
}

.choise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choise__block img {
  position: relative;
  width: 100%;
  height: 100%;
}

.choise__block {
  width: 33.4%;
  position: relative;
}

.choise__info {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
}

.choise__text {
  color: #BF9F00;
  margin-bottom: 32px;
}

.choise__title {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 25px;
}

.choise__title_black {
  color: #000;
}

.choise__desc {
  font-weight: 300;
  margin-bottom: 42px;
}

.choise__desc_black {
  color: #000;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  background: #E2AF1F;
  padding: 17px 71px 21px 71px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.22);
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.btn:hover {
  background: #B98F18;
}

.btn:active {
  background: #fff;
  border: 1px solid #E2AF1F;
  color: #E2AF1F;
}

.specialists {
  position: relative;
}

.specialists__block {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 80%);
      -ms-transform: translate(-50%, 80%);
          transform: translate(-50%, 80%);
}

.specialists__text {
  margin-bottom: 36px;
}

.specialists__title {
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 7px;
}

.specialists__desc {
  text-transform: none;
  margin-bottom: 47px;
}

.specialists__btn {
  font-size: 24px;
}

.specialists img {
  width: 100%;
  height: 100%;
}

.products {
  color: #000;
  padding: 30px 0 0 60px;
}

.products__img {
  position: relative;
}

.products__img img {
  width: 100%;
  height: 248px;
}

.products__block {
  width: 248px;
  height: 402px !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.17);
  margin-right: 30px;
}

.products__item:nth-child {
  width: 248px;
  height: 248px;
}

.products__info {
  padding: 7px 26px 19px 13px;
}

.products__info h4 {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.products__info p {
  font-size: 14px;
  margin-bottom: 50px;
}

.products__info p:last-of-type {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

.products__btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  padding: 4px 15px 6px 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: unset !important;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  margin-bottom: 30px;
  height: 402px;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 43%;
  display: block;
  width: 59px;
  height: 59px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  outline: none;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 50px;
  border: 2px solid #E2AF1F;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: rgb(255, 255, 255);
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  display: block;
  width: 31px;
  height: 21px;
  top: 30%;
  color: #E2AF1F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
}

.slick-prev {
  left: -20px;
  z-index: 1;
}

.slick-prev:before {
  content: "";
  background: url("../img/left.svg") no-repeat;
  left: 20%;
}

[dir=rtl] .slick-prev:before {
  content: "";
}

.slick-next {
  right: 70px;
}

.slick-next:before {
  content: "";
  background: url("../img/right.svg") no-repeat;
  right: 20%;
}

[dir=rtl] .slick-next:before {
  content: "";
}

.single__block-img {
  position: relative;
  width: 100%;
}

.single__block-img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.single__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  margin-bottom: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single__raiting button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.single__crumbs {
  margin: 46px 0 0 74px;
  position: absolute;
  top: 0;
}

.single__crumbs a {
  text-decoration: underline;
}

.single__crumbs a:last-of-type {
  text-decoration: none;
}

.single__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__block-info {
  padding: 102px 129px 142px 173px;
  width: 100%;
}

.single__title {
  color: #E2AF1F;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 56px;
}

.single__desc {
  color: #9F9F9F;
  margin-top: 15px;
  font-weight: 300;
}

.single__desc-item {
  font-size: 21px;
  line-height: 28px;
  width: 100%;
  text-align: left;
}

.single__desc-item p:first-of-type {
  margin-bottom: 32px;
}

.single__desc-item p:last-of-type {
  margin-bottom: 70px;
}

.single__sub-title {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  position: relative;
}

.single__sub-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #9F9F9F;
  margin: 19px 0 38px 0;
}

.single__btn {
  text-transform: uppercase;
  background: #E2AF1F;
  padding: 17px 45px 21px 45px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.char__img {
  width: 50%;
  position: relative;
}

.char__img img {
  width: 100%;
  height: 100%;
  position: relative;
}

.char__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.char__icons {
  width: 50%;
  padding: 102px 88px 90px 105px;
}

.char__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.char__block-item {
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.char__block-item p {
  margin-top: 42px;
  text-align: center;
}

.char__block:last-of-type {
  margin-bottom: 0;
}

.char__title {
  text-align: right;
  margin: 0 41px 54px 0;
}

.catalog {
  padding: 46px 72px 60px 60px;
}

.catalog__crumbs {
  margin: 0 0 45px 14px;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__block {
  margin-right: unset;
}

.crumbs {
  color: #E2AF1F;
  line-height: 24px;
  font-weight: 300;
}

.crumbs a:first-of-type {
  text-decoration: underline;
}

.subsections__title {
  margin-bottom: 69px;
}

.special__block {
  width: 50%;
}

.specialist__crumbs {
  margin: 46px 0 0 74px;
  position: absolute;
  top: 0;
}

.specialist__crumbs a {
  text-decoration: underline;
}

.specialist__btn {
  padding: 17px 70px 21px 70px;
  text-transform: uppercase;
}

.specialist__desc-item {
  margin-bottom: 21px;
}

.specialist__desc-item p:first-of-type {
  margin-bottom: 30px;
}

.specialist__desc-item p:last-of-type {
  margin-bottom: 17px !important;
}

.specialist__desc-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #9F9F9F;
}

.specialist__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 89px;
}

.specialist__title span {
  font-weight: 700;
}

.problem {
  padding: 75px 157px 27px 157px;
}

.problem__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 444px;
}

.problem__title {
  color: #E2AF1F;
  font-size: 42px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.problem__block {
  color: #000;
}

.problem__block p {
  margin-top: 32px;
}

.problem__desc {
  color: #9F9F9F;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

/* Large: 1200px - 1400px */

/* Large: 992px - 1199px */

/* Medium: 768px - 991px */

/* Small: 576px - 767px */

/* Extra small: 320px - 575px */

@media (max-width: 1400px) {
  .slick-next {
    right: 20px;
  }

  .footer {
    padding: 60px 100px 60px 100px;
  }

  .choise__info {
    font-size: 18px;
  }

  .choise__title {
    font-size: 31px;
  }

  .specialists__block {
    -webkit-transform: translate(-50%, 40%);
        -ms-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
  }

  .header__block {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header__block:last-of-type li:last-of-type {
    height: unset;
  }

  .single__desc-item {
    width: 100%;
  }

  .single__block-info {
    padding: 40px 70px 40px 70px;
  }

  .specialist__title {
    margin-bottom: 40px;
  }

  .single__raiting {
    margin-bottom: 28px;
  }

  .single__desc-item p:last-of-type {
    margin-bottom: 40px;
  }

  .single__sub-title::after {
    width: 100%;
  }

  .char__block-item img {
    width: 160px;
  }

  .char__icons {
    padding: 100px 30px 90px 30px;
  }

  .specialist__desc-item::after {
    width: 100%;
  }

  .specialist__title {
    font-size: 29px;
  }

  .welcome {
    margin-top: 163px;
  }

  .welcome-block__img {
    width: 55%;
    margin: 0 auto 50px;
  }

  .wrapper__item {
    min-height: 770px;
  }

  .header__item {
    font-size: 16px;
  }

  .header__logo {
    margin-right: 0;
    text-align: center;
  }

  .header__logo a {
    display: block;
  }

  .header__logo img {
    width: 70%;
  }

  .single__desc-item {
    font-size: 18px;
  }

  .single__sub-title {
    font-size: 21px;
  }

  .single__title {
    font-size: 32px;
  }
}

@media (max-height: 800px) {
  .single__block-img {
    width: 45%;
  }

  .single__block-info {
    width: 55%;
  }
}

@media (max-height: 700px) {
  .single__block-img {
    width: 40%;
  }

  .single__block-info {
    width: 60%;
  }
}

@media (max-height: 600px) {
  .single__block-img {
    width: 35%;
  }

  .single__block-info {
    width: 65%;
  }
}

@media (max-height: 500px) {
  .single__block-img {
    width: 30%;
  }

  .single__block-info {
    width: 70%;
  }
}